@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav > li > a, .navbar-brand {
  padding: 8px 8px;
  height: 36px;
}
.navbar-toggle {
  padding: 5px 5px;
  height: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar {
  min-height: 36px;
}
